
<div class="container">
  <div>
    <h1>Bienvenido {{user.rol}}</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <button id="logout-btn" name="logout-btn">Salir</button>
</div>
 
{{#if products.docs.length}}
  <table class="table">
    <thead>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Codigo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      {{#each products.docs}}
         
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.code}}</td>            
          <td>
          <a href="products/{{this.id}}">Ver</a> 
          </td>
        </tr>         
      {{/each}}
    </tbody>
  </table>
</div>

<br/>
<div>
    {{#if hasPrevPage}}
        <a href={{this.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
     {{#if hasNextPage}}
        <a href={{this.nextLink}}>Siguiente >></a>
    {{/if}} 
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}

<h4 id="mensaje"></h4>

<script src="/js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>



  <script>
  let logoutButton = document.getElementById("logout-btn")

  logoutButton.addEventListener("click", (evt) => {
    fetch('http://localhost:8080/api/sessions/logout', {method: 'post'})
    .then( res => {
      return window.location.replace('/login')
    })
  })

  /*
 const btn = document.getElementById('logout');
  btn.addEventListener("click", (evt) => {
    fetch('http://localhost:8080/api/sessions/logout', {method: 'post'})
    .then( res => {
      console.log("se deslogueo desde")
      //return window.location.replace('/login')
    })
  })*/
 
</script>


