<div class="container">
    <div>
      <h1>Bienvenido, {{user.name}}</h1>
      <p>Mail: {{user.email}}</p>
      <p>Rol:  {{user.role}} </p>
      <p id="cart-id">Id del Carrito: {{user.cart}} </p>
      <button id="logout-btn">Logout</button>
  </div>
  <h2>Detalle del Producto - {{this.title}}</h2>
  <table class="table">
    <thead>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.category}}</td>
          <td>
            
            <button id={{this._id}} onclick="addProductToCart(this)">Agregar al Carrito</button>
          </td>
        </tr>
    
    </tbody>
  </table>
</div>


<script>
  async function addProductToCart(button) {
    let productId = button.id;
    let cartId = document.getElementById("cart-id").innerText.split(" ")[3] // TODO: Es muy feo, cambiar

    try {     
      const response = await fetch('/api/carts/'+cartId+'/products/' + productId, {
        method: 'post'
      });
    } 
    catch(err) {
      console.error(`Error: ${err}`);
    }

  }
</script>